<header>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg"><%= link_to image_tag("logo.jpg", class:"logo"), "/recommendations" %></div>

      <% if user_signed_in? %>
        <div class="col-lg-auto align-self-center header-right" style="width: 400px;">
          <%= link_to current_user.nickname, "#", class: "header-btn btn-border" %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-btn btn-border" %>
        </div>
      <% else %>
        <div class="col-lg-auto align-self-center header-right" style="width: 400px;">
          <%= link_to 'ログイン', new_user_session_path, class: "header-btn btn-border" %>
          <%= link_to '新規登録', new_user_registration_path, class: "header-btn btn-border" %>
        </div>
      <% end %>
    </div>

  </div>


</header>